import styles from './{{pascal componentName}}.module.css';

// AI_IMPLEMENTATION_START:required
export default function {{pascal componentName}}() {
  return (
    <div className={styles.root} data-testid="{{kebab componentName}}">
      {{pascal componentName}}
    </div>
  );
}
// AI_IMPLEMENTATION_END
