// AI_IMPLEMENTATION_START:required
export default function {{pascal pageName}}() {
  return (
    <section data-testid="{{kebab pageName}}">
      <h2>{{pascal pageName}}</h2>
    </section>
  );
}
// AI_IMPLEMENTATION_END
